body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

nav {
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;

  a {
    /* dê preferencia em usar padding para tamanho de botões */
    /* width: 100px; */
    text-decoration: none;
    padding: 15px 20px;
    color: #000;
    background-color: white;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid transparent;
  }

  a:hover {
    border: 1px solid #900;
  }
}

main {
  margin: auto;
  max-width: 80%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* auto-rows para definir a altura das linhas do grid, defini 539 pois é a altura da imagem da bike */
  grid-auto-rows: 539px;
  background-color: white;

  img {
    max-width: 100%;
  }

  .subtitulo {
    align-content: center;
    text-align: center;
    background-color: #f7f7f7;

    background-image: url(../img/onda.svg);
    h2 {
      font-size: 64px;
      color: rgba(0, 0, 0, 0.5);
      /* preto 50% opaco */
      text-transform: uppercase;
    }
  }

  article {
    align-content: center;
    padding: 30px;
    text-align: right;
    position: relative;

    p {
      font-size: 20px;
    }

    a {
      display: inline-block;
      background-color: #ee2211;
      padding: 10px;
      border-radius: 4px;
      text-decoration: none;
      color: #f7f7f7;
    }

    a:hover {
      background-color: #900;
    }
  }

  article::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    background-color: #ee2211;
    width: calc(60 / 16 * 1rem);
    height: 5px;
    top: 30px;
  }
}

.info {
  .icon {
    width: 25px;
  }

  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    padding: 10px;

    /* 
      esse trecho aqui, adicionei essa borda da mesma largura que a do hover deste elemento, 
      só que transparent, só para não dá aquele efeito do conteudo estar "saltando" no hover, pode comentar essa borda transparent pra tu ver a diferença.
      o transition é pra deixar a animação mais suave
    */
    border-left: 4px solid transparent;
    transition: all 0.3s;

    h3 {
      margin: 0px;
    }

    p {
      margin-top: 0px;
    }
  }

  li:hover {
    border-left: #ee2211 solid 4px;
  }

  li:nth-child(odd) {
    background-color: #e7e3e3;
  }
}

footer {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
